<div class='row'>
  <div class='col-auto'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class='row mt-4'>
  <div class='col-md-6'>
    <h3>Create a New Board:</h3>

    <form class='form new-board-form'>
      <div class='form-group'>
        <label for='board-name'>board name:</label>
        <input class='form-input' type='text' id='board-name' name='board-name' />
      </div>
      <div class='form-group'>
        <label for='board-desc'>board description:</label>
        <textarea class='form-input' id='board-desc' name='board-desc'></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Create</button>
      </div>
    </form>
  </div>

  <div class="w-1/2">
    {{> boardlistpartial}}
  </div>
</div>

{{> locationpartial}}

<script src='/js/cdn.tailwindcss.com_3.3.5.js'></script>
<script src='/js/profile.js'></script>